
.navbar-brand {
    font-size: 50px;
    padding: 0 40px;

}

.logo {
    width: 80px;

}

.nav-link {
    transition: all 0.2s;
    font-size: 36px;

}

.nav-link:hover {
text-decoration: underline;

}



.landing-page {
    width: 100%;
}


/* Work Section */
.cards-wrapper {
    column-gap: 40px;
}

.card {
    transition: all 0.3s;
}
.card:hover {
    transform: scale(1.15);
}

.card-text {
    font-size: 20px;
    font-family: sans-serif;
}

/* Work Section - End */



/* skills section */

.pt-md-5 {
    background-color:rgb(92, 184, 187);
    text-shadow: 1px 1px 1px;
    font-size: 50px;
}
.text-center-h1 {
    font-size: 100px;
    font-family: sans-serif;
    padding-bottom: 40px;
    color: white;
    text-align: center;
    }

.text-center {
font-size: 100px;
font-family: sans-serif;
padding-bottom: 40px;
color: white;
}


.container{
    display: flex;
    align-items: start;
    border: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 100px;
    margin-top: 100px;
    outline-color: black;
}

.myskills {
    font-size: 26px;
    font-family: sans-serif;
    text-align: center;
    padding: 60px 250px 60px 250px;
}

.list-group {
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 60px;
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
}

.list-group-item active {

}

/* skill section END */


/*Contact section */
.statement{
    font-size: 26px;
    font-family: sans-serif;
    text-align: left;
    padding: 60px 250px 60px 250px;
}


.contact{
    font-size: 26px;
    font-family: sans-serif;
    text-align: center;
    padding: 60px 250px 100px 250px;
}

.pic {
    padding-left: 1200px;
}


.nav-item2 {
    transition: all 0.2s;
    font-size: 36px;
    padding-left: 300px;
    margin: 60px;
}
